{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    {% block links %}{% endblock links %}
    <link rel="stylesheet" href="{% static "css/global.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">
</head>
<body data-theme="light">
    <header>
        {% block header %}
            {% include "components/navbar/navbar.html"%}
        {% endblock header %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        {% block footer %}
            {% include "components/footer/footer.html" %}
        {% endblock footer %}
    </footer>
    {% block scripts %}
    <script src="{% static "js/global.js" %}"></script>
    {% endblock scripts %}
</body>
</html>