<div class = "container">
    <nav class="navbar-container">
        <ul>
            <li><a href="{% url "matches" %}">PROXIMOS PARTIDOS</a></li>
            <li><a href="{% url "table"%}">CLASIFICACION</a></li>
            <li><a href="login.php">EQUIPOS</a></li>
        </ul>
    </nav>
    <div class="container-logo">
        <button type="button" title="Modo Claro/Oscuro" id="temapagina" >
            <div class="light-mode">
                {% include "components/icons/lightmode-icon.html" %}
            </div>
            <div class="dark-mode hidden">
                {% include "components/icons/darkmode-icon.html" %}
            </div>
        </button>
        <a href="{% url "index" %}" class="logo-link">
            {% include "components/icons/logo-letras.html" %}
            {% include "components/icons/logo.html" %}
        </a>
    </div>
</div>

{% include "components/navbar/teams-session-2024.html" %}






