<section class="container-teams-image">

    <div class="container-teams-title">Equipos 2024</div>

    <div class="container-teams-icons">

        {% include "components/navbar/team-logo.html" with image="athletic-bilbao.png" %} 
        {% include "components/navbar/team-logo.html" with image="atletico-madrid.png" %}
        {% include "components/navbar/team-logo.html" with image="osasuna.png" %}
        {% include "components/navbar/team-logo.html" with image="cadiz.jpg" %}
        {% include "components/navbar/team-logo.html" with image="deportivo-alaves.png" %}
        {% include "components/navbar/team-logo.html" with image="FcBarcelona.png" %}
        {% include "components/navbar/team-logo.html" with image="getafe.png" %}
        {% include "components/navbar/team-logo.html" with image="girona.png" %}
        {% include "components/navbar/team-logo.html" with image="granada.png" %}
        {% include "components/navbar/team-logo.html" with image="rayo-vallecano.png" %}
        {% include "components/navbar/team-logo.html" with image="celta-de-vigo.png" %}
        {% include "components/navbar/team-logo.html" with image="mallorca.png" %}
        {% include "components/navbar/team-logo.html" with image="betis.png" %}
        {% include "components/navbar/team-logo.html" with image="real-madrid.png" %}
        {% include "components/navbar/team-logo.html" with image="real-sociedad.png" %}
        {% include "components/navbar/team-logo.html" with image="sevilla.png" %}
        {% include "components/navbar/team-logo.html" with image="almeria.png" %}
        {% include "components/navbar/team-logo.html" with image="las-palmas.png" %}
        {% include "components/navbar/team-logo.html" with image="valencia.png" %}
        {% include "components/navbar/team-logo.html" with image="villareal.png" %}  
    </div>
    
</section>