<div class="footer">
    <div class="footer-content-icons">
        {% include "components/footer/social-media-icons.html" %}
        <div class="logo">
            <a href="{% url "index" %}">
                {% include "../icons/logo-letras.html" %}
                {% include "../icons/logo.html" %}
            </a>
        </div>
    </div>

    <div class="footer-content-info">
        <div class="footer-info">
            {% include "components/footer/footer-info.html" %}
        </div>
        <hr class="rayita">
        <div class="legal-links">
            {% include "components/footer/legal-links.html" %}
        </div>
    </div>
</div>
