{% load static %}
<div class="social-icons">

    <a href="https://www.facebook.com/LALIGA" target="_blank">
        {% include "components/icons/facebookIcon.html" %}
    </a>
    <a href="https://twitter.com/LaLiga" target="_blank">
        {% include "components/icons/xIcon.html" %}
    </a>
    <a href="https://www.instagram.com/laliga/" target="_blank">
        {% include "components/icons/instagramIcon.html" %}
    </a>
</div>
