:root {
    --color-primary: #FF4B44;
    --color-secondary: #D9D9D9;
    --color-terciary: #FFFFFF;
    --color-table1: #fcfcfc;
    --color-table-2: #ffffff;
    --color-letra-table: #9aa0a6;
    --color-letra-table2: #4487f6;
    --title-font: "Mina", sans-serif;
    --font-color: #333;
    --title-font: "Mina", sans-serif;
    --opacity-image:  rgba(14, 13, 14, 0.5);
    --font-copy: #777;
    --font-mainnews: #ffffff;
    --background-mainnew: #ff4b44;
    --font-news: #000000;
}

body[data-theme="dark"] {
    --color-secondary: #1F1F1F;
    --font-color: #ffffff;
    --color-terciary:#151414;
    --background-color: #333;
    --font-copy: #bdbdbd;    
    --color-table1: #303134;
    --color-table-2: #202124;
    --color-letra-table: #9aa0a6;
    --color-letra-table2: #4487f6;
    --font-mainnews:#ff4b44;
    --background-mainnew: #151414;
    --font-news:#ff4b44;
}

body{
    background-color: var(--color-terciary);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}


/*navbar*/

.container {
    display: flex;
    background-color: var(--color-secondary);
    flex-direction: row;
}

.navbar-container {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: var(--color-secondary);
    align-items: center;
}

.navbar-container ul {
    display: flex;
}

.navbar-container ul li {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.navbar-container ul li a {
    font-family: var(--title-font);
    font-weight: 700;
    list-style: none;
    margin: 0 10px;
    text-decoration: none;
    color: var(--font-color);
}

.logo-link{
    display: flex;
    gap: 5px;
    text-decoration: none;
}

.container-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


/*Estilos de las imagenes para ajustar tamaños*/

.container-teams-image {
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.container-teams-title {
    width: 115px;
    height: 32px;
    font-family: var(--title-font);
    color: var(--font-color);
    font-size: 18px;
    margin:auto;
    margin-top: 5px;

}

.container-teams-icons {
    display: flex;
    gap: 30px;

}

.clubs-images {
    display: flex;
    width: 32px;
    height: 32px;
    gap: 5px;
}

.logo-links{
    display: flex;
    gap: 5px;
}

/*Footer Styles */

.footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 15px;
    font-family: var(--title-font);
    color: var(--font-color);
}
.footer-content-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    display: flex;
    justify-content: flex-end;
}

.footer-info div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.footer-info div a {
    color: var(--font-color);
    margin: 5px 10px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
.legal-links {
    display: flex;
    justify-content: space-around;
}
.legal-links a {
    color: var(--font-color);
    margin: 5px 10px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
.legal-links span {
    font-size: 20px;
}

.logo a{
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 5px;
}
.social-icons a{
    text-decoration: none;
    color: var(--font-color);
}
/* styles.css */



#temapagina{
    height: 40px;
    margin-right: 1rem;
    width: 40px;
    padding: 1px;
    border-radius: 100%;
    border: 2px solid var(--font-color);
    background-color: var(--color-secondary);
    
    
}

.dark-mode{
    top: 50%;
    border:none;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-mode{
    top: 50%;
    border: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}
/*responsive*/

@media screen and (max-width: 768px) {
    .container {
        width: 1020px;
    }

    .container-teams-image {
        width: 1020px;
    }

    .container-teams-title {
        text-align: center;
    }

    .container-teams-icons {
        overflow-x: scroll;

    }

    .clubs-images {
        width: 30px;
        gap: 1px;
    }
    
}

@media screen and (max-width: 1024px) {
    .container {
        width: 650px;
    }

    .navbar-container ul li {
        font-size: 15px;
        text-align: center;
    }

    .container-teams-image {
        width: 650px;
    }

    .container-teams-title {
        text-align: center;
    }

    .container-teams-icons {
        overflow-x: scroll;

    }
}