
.carousel {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr 3fr 1.5fr;
	grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
	row-gap: 2vh;
	position: relative;
  	font-family: var(--title-font);
}
.progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
}
.progress-bar__fill {
	width: 0;
	height: inherit;
	background: var(--color-primary);
	transition: all 0.16s;
}
.progress-bar--primary {
	z-index: 2;
}
.main-post-wrapper {
	grid-row: 1/4;
	grid-column: 1/7;
	position: relative;
}
.slides {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.main-post {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.main-post__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
}
.main-post__image img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.main-post__image::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(14, 13, 14, 0.5);
}
.main-post__content {
	position: absolute;
	top: 40%;
	left: 4%;
	transform: translateY(-40%);
	color: #fff;
	width: 90%;
}
.main-post__tag-wrapper {
	margin: 0;
	display: inline-flex;
	overflow: hidden;
}
.main-post__tag {
	font-size: 0.95em;
	background: var(--color-primary);
	padding: 6px 18px;
}
.main-post__title {
  margin-top: 10px;
	font-weight: 700;
	font-size: 1.95em;
	line-height: 1.25;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.main-post__link {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: inline-flex;
	align-items: center;
}
.main-post__link-text {
	font-size: 0.9em;
}
.main-post__link-icon--arrow {
	margin-left: 12px;
}
.main-post__link-icon--play-btn {
	margin-right: 12px;
}
.main-post__link:hover .main-post__link-text, .main-post__link:hover .main-post__link-icon--arrow path {
	color: var(--color-primary);
	stroke: var(--color-primary);
}
.main-post--active {
	top: 0;
	z-index: 1;
	transition: top 0.9s 0.4s ease-out;
}
.main-post--not-active {
	top: 100%;
	z-index: 0;
	transition: top 0.75s 2s;
}
.main-post.main-post--active .main-post__tag-wrapper {
	width: 25%;
	transition: all 0.98s 1.9s;
}
.main-post.main-post--not-active .main-post__tag-wrapper {
	width: 0;
	transition: width 0.3s 0.2s;
}
.main-post.main-post--active .main-post__title {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.8s 1.42s, transform 0.5s 1.4s;
}
.main-post.main-post--not-active .main-post__title {
	transform: translateY(40px);
	opacity: 0;
	transition: transform 0.2s 0.35s, opacity 0.5s 0.2s;
}
.main-post.main-post--active .main-post__link {
	opacity: 1;
	transition: opacity 0.9s 2.2s;
}
.main-post.main-post--not-active .main-post__link {
	opacity: 0;
	transition: opacity 0.5s 0.2s;
}
.posts-wrapper {
	grid-row: 3/4;
	grid-column: 3/6;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 14px;
	z-index: 1;
}
.post {
	background: rgba(14, 13, 14, 0.6);
	opacity: 0.3;
	color: #fff;
	position: relative;
	padding: 16px 20px;
}
.post__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8em;
}
.post__tag {
	color: #80837e;
}
.post__title {
	font-weight: 400;
	font-size: 0.95em;
	line-height: 1.5;
}
.post--active {
	opacity: 1;
	background: rgba(14, 13, 14, 0.75);
}
.post:not(.post--active) {
	pointer-events: none;
}
.hide-on-mobile {
	display: none;
}


/* section-news*/

.section_news{
   display: flex;
   width: 100%;
   justify-content: center;
   margin-top: 15px;
   font-family: var(--title-font);
}

.section_news-cards{
   display: grid;
   width: 95%;
   background-color: var(--section-div);
   gap: 10px;
   border-radius: 20px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
}
.main-news{
   grid-column-start: 1;
   grid-row-start: 1;
   grid-row-end: span 3;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 10px 15px 10px 10px;
   background-color: var(--background-mainnew);
}


.main-news_img img{
	width: 100%;
}
.main-news_title{
	padding: 10px;
	font-size: 25px;
	color:var(--font-mainnews);
	font-weight: 700;	
}

.main-news_footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-news_footer span{
	padding-left: 8px;
	font-size: 20px;
	color:var(--font-color)
}

.news_card{
	display: flex;
	flex-direction: row;
	height: 170px;
	background-color: var(--color-secondary);
	border-radius: 5px;
}


.news_img{
	padding: 10px;
	height: 100%;
}
.news_img img{
	height: 100%;
}

.news_content{
	padding: 10px 0 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.news_title{
	font-size: 15px;
	color: var(--font-news)
}

.news_footer{
	font-size: 12px;
	color:var(--font-color)
}

@media screen and (min-width: 768px) {
	.main-post__title {
		font-size: 2.9em;
   }
}
@media screen and (min-width: 1024px) {
	.hide-on-mobile {
		display: grid;
   }
	.posts-wrapper {
		grid-column: 2/6;
   }
	.hide-on-desktop {
		display: none;
   }
}
@media screen and (min-width: 1440px) {
	.main-post__content {
		width: 45%;
   }
	.posts-wrapper {
		grid-column: 3/6;
   }
}
