.container-matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    gap: 15px;
    border-radius: 10px;
    background-color: var(--background-color);
}

.container-match {
    padding: 10px;
    width: 100%;
    background: var(--color-secondary);
    color: var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}



.match-date {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
}
.match-teams {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;

}

.match-team  {
    font-weight: 300;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

.match-score {
    width: 10%;
    margin-bottom: 10px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}


.match-info {
    display: flex;
    justify-content: space-between;
}