.container_table {
    width: 100%;
    height: auto;
}

.container_teams {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.container_title {
    width: 100%;
    height: auto;
    padding: 20px;
    background: var(--color-table1);
}

.title_table1 {
    color: var(--color-letra-table);
    font-size: 15px;
}

.title_table2 {
    color: var(--color-letra-table2);
    font-size: 20px;
}

.container_teams {
    width: 100%;
    height: auto;
    background: var(--color-table-2);
}

.container_stadistics {
    font: 200;
}

.statistics {
    color: var(--color-letra-table);
    font-size: 15px;
    padding: 10px;
}

#img {
    display: flex;
    align-items: center;
    gap: 5px;
}
