{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
    LALIGA
{% endblock title %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock links %}


{% block content %}

<div class="carousel">
  <header class="main-post-wrapper">
    <div class="progress-bar progress-bar--primary hide-on-desktop">
        <div class="progress-bar__fill"></div>
      </div>
    <div class="slides">
      <article class="main-post main-post--active">
        <div class="main-post__image">
          <img src="{% static "img" %}/{{news.carousel.0.img}}" alt={{news.carousel.0.title}} />
        </div>
        <div class="main-post__content">
          <div class="main-post__tag-wrapper">
            <span class="main-post__tag">{{news.carousel.0.tag}}</span>
          </div>
          <h2 class="main-post__title">{{news.carousel.0.title}}</h2>
          <span class="main-post__link" >{{news.carousel.0.desc}}</span>
        </div>
      </article>
      <article class="main-post main-post--not-active">
        <div class="main-post__image">
            <img src="{% static "img" %}/{{news.carousel.1.img}}" alt={{news.carousel.1.title}} />
          </div>
          <div class="main-post__content">
            <div class="main-post__tag-wrapper">
              <span class="main-post__tag">{{news.carousel.1.tag}}</span>
            </div>
            <h2 class="main-post__title">{{news.carousel.1.title}}</h2>
            <span class="main-post__link" >{{news.carousel.1.desc}}</span>
          </div>
      </article>
      <article class="main-post main-post--not-active">
        <div class="main-post__image">
            <img src="{% static "img" %}/{{news.carousel.2.img}}" alt={{news.carousel.2.title}} />
          </div>
          <div class="main-post__content">
            <div class="main-post__tag-wrapper">
              <span class="main-post__tag">{{news.carousel.2.tag}}</span>
            </div>
            <h2 class="main-post__title">{{news.carousel.2.title}}</h2>
            <span class="main-post__link" >{{news.carousel.2.desc}}</span>
          </div>
      </article>
    </div>
  </header>
  
  <div class="posts-wrapper hide-on-mobile">
    <article class="post post--active">
      <div class="progress-bar">
        <div class="progress-bar__fill"></div>
      </div>
      <header class="post__header">
        <span class="post__tag">{{news.carousel.0.tag}}</span>
        <p class="post__published">{{news.carousel.0.date}}</p>
      </header>
      <h3 class="post__title">{{news.carousel.0.title}}</h3>
    </article>
    <article class="post">
        <div class="progress-bar">
            <div class="progress-bar__fill"></div>
          </div>
          <header class="post__header">
            <span class="post__tag">{{news.carousel.1.tag}}</span>
            <p class="post__published">{{news.carousel.1.date}}</p>
          </header>
          <h3 class="post__title">{{news.carousel.1.title}}</h3>
    </article>
    <article class="post">
        <div class="progress-bar">
            <div class="progress-bar__fill"></div>
          </div>
          <header class="post__header">
            <span class="post__tag">{{news.carousel.2.tag}}</span>
            <p class="post__published">{{news.carousel.2.date}}</p>
          </header>
          <h3 class="post__title">{{news.carousel.2.title}}</h3>
    </article>
  </div>
  </div>
  

  <section class="section_news">
    <div class="section_news-cards">

      <div class= "main-news">
            <div class="main-news_img"><img src="{% static "img" %}/{{news.section.0.img}}" alt={{news.section.0.title}}></div>
            <div class="main-news_title">
                <h3>{{news.section.0.title}}</h3>
            </div>
            <div class="main-news_footer">
                <span>{{news.section.0.date}}</span>
                <img src="{% static "img/pattern-corner.svg" %}" alt="logo svg">
            </div>
      </div>

    <div class="news_card">
        <div class="news_img">
            <img src="{% static "img" %}/{{news.section.1.img}}" alt={{news.section.1.title}}>
        </div>
        <div class="news_content">
            <div class="news_title">
                <h3>{{news.section.1.title}}</h3>
            </div>
            <div class="news_footer">
                <span>{{news.section.1.date}}</span>
            </div>
        </div>
    </div>

    <div class="news_card">
        <div class="news_img"><img src="{% static "img" %}/{{news.section.2.img}}" alt={{news.section.2.title}}></div>
        <div class="news_content">
          <div class="news_title">
            <h3>{{news.section.2.title}}</h3>
        </div>
        <div class="news_footer">
          <span>{{news.section.2.date}}</span>
        </div>
    </div>
    </div>

    <div class="news_card" >
        <div class="news_img"><img src="{% static "img" %}/{{news.section.3.img}}" alt={{news.section.3.title}}></div>
        <div class="news_content">
          <div class="news_title">
            <h3>{{news.section.3.title}}</h3>
        </div>
        <div class="news_footer">
          <span>{{news.section.3.date}}</span>
        </div>
    </div>
    </div>

    <div class="news_card">
        <div class="news_img"><img src="{% static "img" %}/{{news.section.4.img}}" alt={{news.section.4.title}}></div>
        <div class="news_content">
          <div class="news_title">
            <h3>{{news.section.4.title}}</h3>
        </div>
        <div class="news_footer">
          <span>{{news.section.4.date}}</span>
        </div>
    </div>
    </div>

    <div class="news_card">
        <div class="news_img"><img src="{% static "img" %}/{{news.section.5.img}}" alt={{news.section.5.title}}></div>
        <div class="news_content">
          <div class="news_title">
            <h3>{{news.section.5.title}}</h3>
        </div>
        <div class="news_footer">
          <span>{{news.section.5.date}}</span>
        </div>
    </div>
    </div>

    <div class="news_card">
      <div class="news_img">
        <img src="{% static "img" %}/{{news.section.6.img}}" alt={{news.section.6.title}}>
      </div>
      <div class="news_content">
        <div class="news_title">
            <h3>{{news.section.6.title}}</h3>
        </div>
        <div class="news_footer">
          <span>{{news.section.6.date}}</span>
        </div>
      </div>
    </div>

 </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="{% static "js/index.js" %}"></script>
<script src="{% static "js/global.js" %}"></script>
{% endblock scripts %}