<svg width="110" height="60" viewBox="0 0 82 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 14.7234V0.206665H4.09497V15.0685H11.3296V18.7839H2.37513L0.764386 16.8466C0.218311 16.1566 0 15.5196 0 14.7234Z" fill="#FF4B44"/>
    <path d="M23.3416 12.4146L21.1849 3.92215H20.7481L18.5914 12.4146H23.3416ZM13.5408 15.7584L17.9635 0.206665H22.6591C23.5327 0.206665 24.0788 0.604629 24.3245 1.45399L28.3921 15.7584C28.5832 16.3954 28.6106 16.8202 28.6106 17.6428V18.7839H24.9796L23.5327 13.1312L17.6632 16.0505L16.9534 18.7839H13.3224V17.6428C13.3224 16.8202 13.3498 16.3954 13.5408 15.7584Z" fill="#FF4B44"/>
    <path d="M30.4671 14.7234V0.206635H34.5621V15.0685H41.7968V18.7839H32.8422L31.2315 16.8466C30.6855 16.1566 30.4671 15.5196 30.4671 14.7234Z" fill="#FF4B44"/>
    <path d="M44.1171 0.206635H48.2122V18.7839H44.1171V0.206635Z" fill="#FF4B44"/>
    <path d="M50.9969 12.8866V6.10395C50.9969 2.14965 53.2082 0 57.2759 0H59.0685C63.0817 0 65.3476 1.9904 65.3476 5.52013H61.2526V4.77694C61.2526 4.08696 60.8703 3.71536 60.1606 3.71536H56.184C55.4741 3.71536 55.0918 4.08696 55.0918 4.77694V14.2135C55.0918 14.9035 55.4741 15.2751 56.184 15.2751H60.1606C60.8703 15.2751 61.2526 14.9035 61.2526 14.2135V11.8781H58.4133V8.16263H62.9725L64.5832 10.1C65.1292 10.7635 65.3476 11.3739 65.3476 12.2231V12.8866C65.3476 16.8409 63.1364 18.9906 59.0685 18.9906H57.2759C53.2082 18.9906 50.9969 16.8409 50.9969 12.8866Z" fill="#FF4B44"/>
    <path d="M76.6011 12.4146L74.4444 3.92211H74.0075L71.8508 12.4146H76.6011ZM66.8003 15.7584L71.2229 0.206635H75.9186C76.7921 0.206635 77.3382 0.604598 77.5839 1.45396L81.6516 15.7584C81.8427 16.3954 81.8701 16.8202 81.8701 17.6428V18.7839H78.2391L76.7921 13.1311L70.9226 16.0505L70.2129 18.7839H66.5818V17.6428C66.5818 16.8202 66.6091 16.3954 66.8003 15.7584Z" fill="#FF4B44"/>
</svg>