{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
    Tabla de Clasificación Liga 2023-24
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock links %}

{% block content %}
    <div class="container_table">

        <div class="container_title">
            <p class="title_table1">Temporada</p>
            <p class="title_table2">2023-24</p>
        </div>

        <div class="container_teams">
            <table>
                <tr class="container_stadistics">
                    <div>
                        <th class="statistics">Club</th>
                        <th class="statistics"></th>
                    </div>
                    <th class="statistics">PJ</th>
                    <th class="statistics">G</th>
                    <th class="statistics">E</th>
                    <th class="statistics">P</th>
                    <th class="statistics">GF</th>
                    <th class="statistics">GC</th>
                    <th class="statistics">DG</th>
                    <th class="statistics">PTS</th>
                </tr>
                {% for team in teams %}
                    <tr>
                        <td class="statistics" >{{ team.position }}</td>
                        <td class="statistics" id="img" ><img src="{% static "img"%}/{{team.img}}" alt="" width="30" height="30"> {{ team.name }}</td>
                        <td class="statistics" >{{ team.games_played }}</td>
                        <td class="statistics" >{{ team.won }}</td>
                        <td class="statistics" >{{ team.tied }}</td>
                        <td class="statistics" >{{ team.lost }}</td>
                        <td class="statistics" >{{ team.goals_in_favor }}</td>
                        <td class="statistics" >{{ team.goals_against }}</td>
                        <td class="statistics" >{{ team.goals_difference }}</td>
                        <td class="statistics" >{{ team.points}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        
    </div>
    
{% endblock content %}