{% extends "layouts/base.html" %}
{% load static %}
{% load datetags %}
{% block title %}
    Proximos partidos
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/matches.css" %}">
{% endblock links %}

{% block content %}
    <section class="container-matches">
        {% for item in matches %}

            {% for match in item %}
                <div class="container-match">
                    <div class="match-date">
                        <span>{{ match.date|timesince_plus }}</span>
                        <span>Jornada {{match.week}} - La Liga</span>
                    </div>
                    <div class="match-teams">
                        <div class="match-team">
                            <img src="{% static "img" %}/{{match.team1.logo}}" alt="" width="35">
                            <span>{{match.team1.name}}</span>
                        </div>
                        <div class="match-score">
                            <span>{{match.team1.score}}</span>
                            {% now "Y-m-d" as today %}
                            {% if match.date|date:"Y-m-d" > today %}
                                <span>VS</span>
                            {% else %}
                                <span>-</span>
                            {% endif %}
                            <span>{{match.team2.score}}</span>
                        </div>
                        <div class="match-team">
                            <span>{{match.team2.name}}</span>
                            <img src="{% static "img" %}/{{match.team2.logo}}" width="35" alt="">
                        </div>
                    </div>
                    <div class="match-info">
                        <span>{{match.stadium|default:"No definido"}}</span>
                        <span>{{match.channel|default:"No definido"}}</span>
                    </div>
                </div>

            {% endfor %}
        {% endfor %}
        
    </section>
{% endblock content %}